.collections-row {
  margin-top: 15px!important;
}

.collections-title {
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.collections-segment {
  margin-top: 25px;
}

.see-more-collections-wrapper {
  text-align: right;
}

.see-more-collections {
  text-align: right;
  color: white;
  font-size: 20px;
}

.collection {
  background-color: #222;
  color: white;
  padding: 15px 15px 20px 15px;
  margin-bottom: 30px;
  border-radius: 10px;
  border: 2px solid black;
}

.collection:hover {
  border: 2px solid white;
}

.collection-link {
  text-decoration: none!important;
}

.collection-title {
  font-size: 20px;
}

