.photos-title {
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.see-more-photos-wrapper {
    text-align: right;
}

.image {
    height: 200px;
    /* Set the desired height */
    width: auto;
    /* Maintain aspect ratio */
    object-fit: contain;
    /* Optional: control how the image is resized */
    margin-top: 15px;
}