.videos-title {
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.see-more-videos-wrapper {
  text-align: right;
}

.see-more-videos {
  text-align: right;
  color: white;
  font-size: 20px;
}

.video-details {
  background-color: #222;
  margin-bottom: 15px;
  padding: 10px;
}

.video-link {
  text-decoration: none;
  color: aliceblue;
}

.video-title {
  font-size: 20px;
}