.header {
    margin-top: 15px !important;
}

.search-input {
    background-color: #222 !important;
    color: black !important;
    outline: none !important;
    box-shadow: none !important;
    border-color: inherit !important;
}

.search-input::placeholder {
    color: black !important;
}

.search-input:focus {
    color: white!important;
}

.search-input:focus {
    outline: 2px solid #222 !important;
    /* Removes the browser's default outline */
    box-shadow: none !important;
    /* Removes Bootstrap's default focus box-shadow */
    border-color: inherit !important;
    /* Optional: Keeps the border color consistent */
}

.collection-search {
    background-color: #222;
    height: 100%;
    border-radius: 8px;
}

@media (min-width: 992px) {
    .collection-search {
        background-color: #222;
        height: 90vh;
    }
}

.list-section {
    background-color: #222;
    border-radius: 8px;
    height: 90vh;
}

.collection-list-item {
    padding: 5px 0px 5px 10px;
}

.collection-list-item:hover {
    text-decoration: underline;
    cursor: pointer;
}

.collection-list-item-date {
    font-size: 10px;
    color: #636363;
}

.filter {
    padding: 25px;
    background-color: black;
    text-align: center;
    margin: 10px 0px 0px 10px;
    border-radius: 8px;
    border: 1px solid white;
}
.filter:hover {
    background-color: white;
    color: #222;
}
.recently-uploaded-title {
    margin: 10px 0px 10px 10px;
}
.recently-uploaded-file {
    margin: 10px;
}
.recently-uploaded-file-date {
    font-size: 10px;
    color: #636363;
}
.recently-uploaded-file-type {
    margin-top: 5px!important;
    color: #636363;
}
.recently-uploaded-file-size {
    margin-top: 5px!important;
    color: #636363;
}
.file-bar {
    height: 1px;
    background-color: #636363;
    width: 495px;
}
@media (min-width: 768px) {
    .file-bar {
        width: 675px;
    }
}
@media (min-width: 1200px) {
    .file-bar {
        width: 808px;
    }
}
@media (min-width: 1400px) {
    .file-bar {
        width: 940px;
    }
}